<div>
  <div>
    <label>Title: </label><span>{{this.movie.title}}</span>
  </div>
  <div>
    <label>Director: </label><span>{{this.movie.director}}</span>
  </div>
  <div>
    <label>Producer: </label><span>{{this.movie.producer}}</span>
  </div>
  <div>
    <label>Release date: </label><span>{{this.movie.release_date}}</span>
  </div>
  <div>
    <label>Rating: </label><span>{{this.movie.rt_score}}/100</span>
  </div>
  <div>
    <label>Description: </label><span>{{this.movie.description}}</span>
  </div>
</div>