<div class="card">
  <div>
    {{#if this.movie.seen}}
    <button type="button" class="btn btn-outline-success toogle-seen-button"
      onclick={{action "markAsNotSeen" this.movie.id}}>Seen</button>
    {{else}}
    <button type="button" class="btn btn-outline-warning toogle-seen-button"
      onclick={{action "markAsSeen" this.movie.id}}>Not seen</button>
    {{/if}}
  </div>

  <div class="card-body">
    <h5 class="card-title">{{this.movie.title}}</h5>
    <h6 class="card-subtitle mb-2 text-muted">{{this.movie.release_date}}</h6>
    <div>
      <strong>Director:&nbsp;</strong><span class="card-text">{{this.movie.director}}</span>
    </div>
    <div>
      <strong>Producer:&nbsp;</strong><span class="card-text">{{this.movie.producer}}</span>
    </div>
    <div>
      <strong>Rating:&nbsp;</strong><span class="card-text">{{this.movie.rt_score}}/100</span>
    </div>
    <div>
      <strong>Description:&nbsp;</strong><span class="card-text">{{this.movie.description}}</span>
    </div>
    <LinkTo @route="movie" @model={{this.movie.id}} class="card-link">More...</LinkTo>
  </div>
</div>